@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    font-family: "Noto Sans Thai", sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: rgba(40, 40, 40, 0.4);
    border-radius: 20px;
}

/* Class ของ table.th, td */
.th-td {
    @apply py-3 px-6 text-left border-r border-gray-200;
}

/* Class ของ Range Slider */
:root {
    --THUMB-COLOR: rgb(63, 63, 70);
    --THUMB-SIZE: 20px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    background-color: var(--THUMB-COLOR);
    border: none;
    outline: none;
    border-radius: 50%;

    cursor: pointer;
    height: var(--THUMB-SIZE);
    width: var(--THUMB-SIZE);
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    background-color: var(--THUMB-COLOR);
    border: none;
    outline: none;
    border-radius: 50%;

    cursor: pointer;
    height: var(--THUMB-SIZE);
    width: var(--THUMB-SIZE);
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

/* Splide.js Class */
.splide__slide.is-active {
    opacity: 1;
}